" vim:set ft=vim:foldmethod=marker:

source ~/.vimrc

set notimeout

" Adjust line numbers
set nonumber

" IdeaVim plugins
set commentary
set surround
set which-key
set matchit
set NERDTree
set quickscope

" vinegar emulation with Idea
nnoremap - :action ActivateProjectToolWindow<cr>

" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [l :action GotoPreviousError<cr>
nnoremap ]l :action GotoNextError<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Building
nnoremap <space>mf :action Compile<cr>
nnoremap <space>mF :action CompileProject<cr>

" Testing
nnoremap <space>mt :action RunClass<cr>
nnoremap <space>mT :action RunConfiguration<cr>

" GoTo navigation
nnoremap [d :action GotoPreviousError<cr>
nnoremap ]d :action GotoNextError<cr>
nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap go :action GotoTypeDeclaration<cr>
nnoremap gr :action GotoRelated<cr>

" Code
nnoremap <space>cr :action RenameElement<cr>
nnoremap <space>cf :action ReformatCode<cr>
nnoremap <space>ca :action ShowIntentionActions<cr>

" Finder
nnoremap <space>fg :action FindInPath<cr>
nnoremap <space>ff :action GotoFile<cr>
nnoremap <space>fF :action GotoClass<cr>
nnoremap <space>fa :action GotoAction<cr>
nnoremap <space>fc :action Vcs.ShowTabbedFileHistory<cr>
nnoremap <space>fC :action Vcs.Show.Log<cr>
nnoremap <space>fb :action Switcher<cr>
nnoremap <space>fh :action RecentFiles<cr>
nnoremap <space>fd :action ActivateProblemsViewToolWindow<cr>
nnoremap <space>fs :action FileStructurePopup<cr>
nnoremap <space>fS :action GotoSymbol<cr>
nnoremap <space>fo :action OpenFile<cr>

" }}}

