" vim:set ft=vim:foldmethod=marker:

source ~/.vimrc

" Adjust line numbers
set nonumber

" Emulate Idea version of Vim surround
set commentary
set surround

" vinegar emulation with Idea
nnoremap - :action ActivateProjectToolWindow<cr>

" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [l :action GotoPreviousError<cr>
nnoremap ]l :action GotoNextError<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Building
nnoremap <space>mf :action Compile<cr>
nnoremap <space>mF :action CompileProject<cr>

" Testing
nnoremap <space>mt :action RunClass<cr>
nnoremap <space>mT :action RunConfiguration<cr>

" lsp mappings
nnoremap [g :action GotoPreviousError<cr>
nnoremap ]g :action GotoNextError<cr>
nnoremap gd :action GotoDeclaration<cr>
nnoremap gy :action GotoTypeDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gr :action GotoRelated<cr>
nnoremap <space>el :action ShowErrorDescription<cr>
nnoremap <space>er :action RenameElement<cr>
nnoremap <space>ef :action ReformatCode<cr>

" Menus
nnoremap <space>/ :action FindInPath<cr>
nnoremap <space>T :action GotoSymbol<cr>
nnoremap <space>t :action FileStructurePopup<cr>
nnoremap <space>F :action GotoFile<cr>
nnoremap <space>f :action GotoClass<cr>
nnoremap <space>a :action GotoAction<cr>
nnoremap <space>h :action RecentFiles<cr>
nnoremap <space>b :action Switcher<cr>

" }}}

