[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  # Use custom `.gitignore`
  excludesfile = ~/.gitignore

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # You almost always want autocrlf=input unless you really know what you are doing.
  autocrlf = input

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[commit]
  # Custom git message based on http://chris.beams.io/posts/git-commit/
  template = ~/.gitmessage

[diff]
  # Detect copies as well as renames
  renames = copies

  # Use vimdiff as default diff tool
  tool = vimdiff

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

  # Use vimdiff as default merge tool
  tool = vimdiff
  conflictstyle = diff3

[push]
  # Push only current branch instead of all branches
  default = current

  # Make `git push` push relevant annotated tags when pushing branches out.
  followTags = true

[fetch]
  prune = true

[rebase]
  autosquash = true

[difftool]
  # Do not show prompt when calling diff tool
  prompt = false

[include]
  # Include user configuration
  path = ~/.gitconfig.local

[user]
	name = Tomas Slusny
	email = slusnucky@gmail.com
[credential]
	helper = cache
