[apply]
# Detect whitespace errors when applying a patch
whitespace = fix

[core]
# Use custom `.gitignore`
excludesfile = ~/.gitignore

# Treat spaces before tabs and all kinds of trailing whitespace as an error
# [default] trailing-space: looks for spaces at the end of a line
# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
whitespace = space-before-tab,-indent-with-non-tab,trailing-space

# Make `git rebase` safer on macOS
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false

# Prevent showing files whose names contain non-ASCII symbols as unversioned.
# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
precomposeunicode = false

# You almost always want autocrlf=input unless you really know what you are doing.
autocrlf = input

[help]
autocorrect = 1

[color]
ui = auto

[commit]
template = ~/.gitmessage

[diff]
tool = nvimdiff
; external = difft

[diff "bin"]
textconv = hexdump -v -C

[difftool]
prompt = true
trustExitCode = true

[merge]
log = true
tool = nvimdiff1

[mergetool]
prompt = true
trustExitCode = true
hideResolved = true

[push]
default = current
followTags = false

; [fetch]
; prune = true

[rebase]
autosquash = true

; [credential]
; helper = store

[http]
postBuffer = 524288000

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[alias]
addw = "!f() { git diff -U0 -w --no-color \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero; }; f"

[user]
name = Tomas Slusny
email = slusnucky@gmail.com

[include]
path = ~/.gitconfig.local
