# Core
[apply]
    whitespace = fix

[core]
    excludesfile = ~/.gitignore
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
    autocrlf = input

# UI stuff
[color]
    ui = auto
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[commit]
    template = ~/.gitmessage
    verbose = true

# Diff and merge
[diff]
    algorithm = histogram
    colorMoved = true
    colorMovedWS = allow-indentation-change
    mnemonicPrefix = true

    tool = nvimdiff
    submodule = diff

[diff "bin"]
    textconv = hexdump -v -C

[difftool]
    prompt = true
    trustExitCode = true

[merge]
    log = true
    tool = nvimdiff1

[mergetool]
    prompt = true
    trustExitCode = true
    hideResolved = true

# Push/pull/rebase

[push]
    autoSetupRemote = true
    followTags = true

[pull]
    rebase = true

[fetch]
    prune = true
    all = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

# [credential]
# helper = store
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[http]
    postBuffer = 524288000

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[alias]
    addw = "!f() { git diff -U0 -w --no-color \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero; }; f"
# Worktree stuff
    wt = worktree
    wtl = worktree list
    wtc = worktree prune
# Create worktree from branch name
    wtb = "!f() { git worktree add ./worktrees/$1 $1; }; f"
# Create worktree from PR number
    wtp = "!f() { git fetch origin pull/$1/head:pr/$1 && git worktree add ./worktrees/pr-$1 pr/$1; }; f"
# Remove worktree
    wtr = "!f() { git worktree remove ./worktrees/$1 && rm -rf ./worktrees/$1; }; f"
# Branch cleanup
    branch-cleanup = "!git-branch-cleanup"

[user]
    name = Tomas Slusny
    email = slusnucky@gmail.com

[include]
    path = ~/.gitconfig.local
