# Worktrees
.worktrees/

# Compiled Python files
*.pyc
.venv/
.venv

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Eclipse
workbench.xmi

# IntelliJ
.idea/

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
.tags
.tags1
gtags.files
tags.lock
tags.temp
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Misc
.yangcp/
nohup.out

ModCache.lua

# jdtls
.classpath
.factorypath
.project
.settings/
