[submodule "tmux/.tmux/bundle/tmux-yank"]
	path = tmux/.tmux/pack/bundle/start/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.tmux/bundle/tmux-sensible"]
	path = tmux/.tmux/pack/bundle/start/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/bundle/tmux-continuum"]
	path = tmux/.tmux/pack/bundle/start/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/bundle/tmux-resurrect"]
	path = tmux/.tmux/pack/bundle/start/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/bundle/tmux-open"]
	path = tmux/.tmux/pack/bundle/start/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "vim/.vim/bundle/vim-rooter"]
	path = vim/.vim/pack/bundle/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "vim/.vim/bundle/vim-gutentags"]
	path = vim/.vim/pack/bundle/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/.vim/bundle/codi.vim"]
	path = vim/.vim/pack/bundle/start/codi.vim
	url = https://github.com/metakirby5/codi.vim
[submodule "zsh/.fzf"]
	path = zsh/.fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/.zsh/bundle/alias-tips"]
	path = zsh/.zsh/pack/bundle/start/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "zsh/.zsh/bundle/zsh-kubernetes"]
	path = zsh/.zsh/pack/bundle/start/zsh-kubernetes
	url = https://github.com/Dbz/zsh-kubernetes
[submodule "zsh/.zsh/bundle/utility"]
	path = zsh/.zsh/pack/bundle/start/utility
	url = https://github.com/zimfw/utility
[submodule "zsh/.zsh/bundle/archive"]
	path = zsh/.zsh/pack/bundle/start/archive
	url = https://github.com/zimfw/archive
[submodule "zsh/.zsh/bundle/zsh-autosuggestions"]
	path = zsh/.zsh/pack/bundle/start/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/bundle/git"]
	path = zsh/.zsh/pack/bundle/start/git
	url = https://github.com/zimfw/git
[submodule "zsh/.zsh/bundle/zsh-completions"]
	path = zsh/.zsh/pack/bundle/start/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.zsh/bundle/completion"]
	path = zsh/.zsh/pack/bundle/start/completion
	url = https://github.com/zimfw/completion
[submodule "zsh/.zsh/bundle/input"]
	path = zsh/.zsh/pack/bundle/start/input
	url = https://github.com/zimfw/input
[submodule "zsh/.zsh/bundle/termtitle"]
	path = zsh/.zsh/pack/bundle/start/termtitle
	url = https://github.com/zimfw/termtitle
[submodule "zsh/.zsh/bundle/ssh"]
	path = zsh/.zsh/pack/bundle/start/ssh
	url = https://github.com/zimfw/ssh
[submodule "zsh/.zsh/bundle/pacman"]
	path = zsh/.zsh/pack/bundle/start/pacman
	url = https://github.com/zimfw/pacman
[submodule "zsh/.zsh/bundle/git-info"]
	path = zsh/.zsh/pack/bundle/start/git-info
	url = https://github.com/zimfw/git-info
[submodule "zsh/.zsh/bundle/pure"]
	path = zsh/.zsh/pack/bundle/start/pure
	url = https://github.com/sindresorhus/pure
	branch = main
[submodule "zsh/.zsh/bundle/fasd"]
	path = zsh/.zsh/pack/bundle/start/fasd
	url = https://github.com/clvv/fasd
[submodule "zsh/.zsh/bundle/imgur.sh"]
	path = zsh/.zsh/pack/bundle/start/imgur.sh
	url = https://github.com/tremby/imgur.sh
	branch = main
[submodule "zsh/.zsh/bundle/environment"]
	path = zsh/.zsh/pack/bundle/start/environment
	url = https://github.com/zimfw/environment
[submodule "zsh/.zsh/bundle/zsh-history-substring-search"]
	path = zsh/.zsh/pack/bundle/start/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.zsh/bundle/fzf-tab"]
	path = zsh/.zsh/pack/bundle/start/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "vim/.vim/bundle/codeium.vim"]
	path = vim/.vim/pack/bundle/start/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
[submodule "vim/.vim/pack/bundle/start/which-key.nvim"]
	path = vim/.vim/pack/bundle/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "vim/.vim/pack/bundle/start/nvim-treesitter"]
	path = vim/.vim/pack/bundle/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/.vim/pack/bundle/start/vim-commentary"]
	path = vim/.vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/bundle/start/vim-tmux-navigator"]
	path = vim/.vim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/.tmux/pack/bundle/start/tmux-fzf"]
	path = tmux/.tmux/pack/bundle/start/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
[submodule "vim/.vim/pack/bundle/start/vim-dirvish"]
	path = vim/.vim/pack/bundle/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/.vim/pack/bundle/start/vim-dirvish-dovish"]
	path = vim/.vim/pack/bundle/start/vim-dirvish-dovish
	url = https://github.com/roginfarrer/vim-dirvish-dovish
[submodule "vim/.vim/pack/bundle/start/nvim-lspconfig"]
	path = vim/.vim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim/.vim/pack/bundle/start/mason.nvim"]
	path = vim/.vim/pack/bundle/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "vim/.vim/pack/bundle/start/mason-lspconfig.nvim"]
	path = vim/.vim/pack/bundle/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "vim/.vim/pack/bundle/start/nvim-cmp"]
	path = vim/.vim/pack/bundle/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "vim/.vim/pack/bundle/start/cmp-nvim-lsp"]
	path = vim/.vim/pack/bundle/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "vim/.vim/pack/bundle/start/plenary.nvim"]
	path = vim/.vim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/.vim/pack/bundle/start/lsp-status.nvim"]
	path = vim/.vim/pack/bundle/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "vim/.vim/pack/bundle/start/cmp-path"]
	path = vim/.vim/pack/bundle/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "vim/.vim/pack/bundle/start/cmp-vsnip"]
	path = vim/.vim/pack/bundle/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "vim/.vim/pack/bundle/start/vim-vsnip"]
	path = vim/.vim/pack/bundle/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "vim/.vim/pack/bundle/start/fzf-lua"]
	path = vim/.vim/pack/bundle/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "zsh/.zsh/pack/bundle/start/base16-fzf"]
	path = zsh/.zsh/pack/bundle/start/base16-fzf
	url = https://github.com/tinted-theming/base16-fzf
[submodule "vim/.vim/pack/bundle/start/nvim-web-devicons"]
	path = vim/.vim/pack/bundle/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "zsh/.zsh/pack/bundle/start/base16-shell"]
	path = zsh/.zsh/pack/bundle/start/base16-shell
	url = https://github.com/tinted-theming/base16-shell
[submodule "vim/.vim/pack/bundle/start/base16-vim"]
	path = vim/.vim/pack/bundle/start/base16-vim
	url = https://github.com/tinted-theming/base16-vim
