*.log
/nvim/.config/nvim/pack/local/start
/tmux/.tmux/pack/local/start
/zsh/.zsh/pac/local/start
/vim/.vim/undodir/
/tmux/.tmux/resurrect/
/qutebrowser/.config/qutebrowser/qsettings/
/qutebrowser/.config/qutebrowser/bookmarks/
/qutebrowser/.config/qutebrowser/autoconfig.yml
/qutebrowser/.config/qutebrowser/quickmarks
/mpv/.config/mpv/scripts
/mpv/.config/mpv/script-opts
dotfyle-metadata.nvim
