[submodule "tmux/.tmux/bundle/tmux-yank"]
	path = tmux/.tmux/pack/bundle/start/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.tmux/bundle/tmux-continuum"]
	path = tmux/.tmux/pack/bundle/start/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/bundle/tmux-resurrect"]
	path = tmux/.tmux/pack/bundle/start/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim/.vim/bundle/vimwiki"]
	path = nvim/.config/nvim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "zsh/.fzf"]
	path = zsh/.fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/.zsh/bundle/zsh-kubernetes"]
	path = zsh/.zsh/pack/bundle/start/zsh-kubernetes
	url = https://github.com/Dbz/zsh-kubernetes
[submodule "zsh/.zsh/bundle/utility"]
	path = zsh/.zsh/pack/bundle/start/utility
	url = https://github.com/zimfw/utility
[submodule "zsh/.zsh/bundle/archive"]
	path = zsh/.zsh/pack/bundle/start/archive
	url = https://github.com/zimfw/archive
[submodule "zsh/.zsh/bundle/zsh-autosuggestions"]
	path = zsh/.zsh/pack/bundle/start/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/bundle/git"]
	path = zsh/.zsh/pack/bundle/start/git
	url = https://github.com/zimfw/git
[submodule "zsh/.zsh/bundle/zsh-completions"]
	path = zsh/.zsh/pack/bundle/start/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.zsh/bundle/ssh"]
	path = zsh/.zsh/pack/bundle/start/ssh
	url = https://github.com/zimfw/ssh
[submodule "zsh/.zsh/bundle/pure"]
	path = zsh/.zsh/pack/bundle/start/pure
	url = https://github.com/sindresorhus/pure
	branch = main
[submodule "zsh/.zsh/bundle/imgur.sh"]
	path = zsh/.zsh/pack/bundle/start/imgur.sh
	url = https://github.com/tremby/imgur.sh
	branch = main
[submodule "vim/.vim/pack/bundle/start/which-key.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "vim/.vim/pack/bundle/start/nvim-treesitter"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/.vim/pack/bundle/start/vim-commentary"]
	path = nvim/.config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/bundle/start/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim/.vim/pack/bundle/start/mason.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "vim/.vim/pack/bundle/start/mason-lspconfig.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "vim/.vim/pack/bundle/start/fzf-lua"]
	path = nvim/.config/nvim/pack/bundle/start/fzf-lua
	url = https://gitlab.com/ibhagwan/fzf-lua
[submodule "zsh/.zsh/pack/bundle/start/base16-fzf"]
	path = zsh/.zsh/pack/bundle/start/base16-fzf
	url = https://github.com/tinted-theming/base16-fzf
[submodule "vim/.vim/pack/bundle/start/nvim-web-devicons"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "zsh/.zsh/pack/bundle/start/base16-shell"]
	path = zsh/.zsh/pack/bundle/start/base16-shell
	url = https://github.com/tinted-theming/base16-shell
[submodule "bspwm/.config/polybar/base16-polybar"]
	path = bspwm/.config/polybar/base16-polybar
	url = https://github.com/tinted-theming/base16-polybar
[submodule "vim/.vim/pack/bundle/start/tmux.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/tmux.nvim
	url = https://github.com/aserowy/tmux.nvim
[submodule "zsh/.zsh/pack/bundle/start/fast-syntax-highlighting"]
	path = zsh/.zsh/pack/bundle/start/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/.zsh/pack/bundle/start/zsh-expand-all"]
	path = zsh/.zsh/pack/bundle/start/zsh-expand-all
	url = https://github.com/simnalamburt/zsh-expand-all
[submodule "vim/.vim/pack/bundle/start/nvim-jdtls"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "zsh/.zsh/pack/bundle/start/zsh-autoswitch-virtualenv"]
	path = zsh/.zsh/pack/bundle/start/zsh-autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
[submodule "vim/.vim/pack/bundle/start/nvim-dap"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "vim/.vim/pack/bundle/start/nvim-dap-ui"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "vim/.vim/pack/bundle/start/nvim-dap-virtual-text"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "vim/.vim/pack/bundle/start/mason-tool-installer.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/mason-tool-installer.nvim
	url = https://github.com/WhoIsSethDaniel/mason-tool-installer.nvim
[submodule "vim/.vim/pack/bundle/start/nvim-base16"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-base16
	url = https://github.com/RRethy/nvim-base16
[submodule "vim/.vim/pack/bundle/start/nvim-treesitter-textobjects"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "vim/.vim/pack/bundle/start/nvim-dap-python"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "vim/.vim/pack/bundle/start/nvim-dap-vscode-js"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-dap-vscode-js
	url = https://github.com/mxsdev/nvim-dap-vscode-js
[submodule "vim/.vim/pack/bundle/start/quickfix-reflector.vim"]
	path = nvim/.config/nvim/pack/bundle/start/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim
[submodule "zsh/.zsh/pack/bundle/start/fasd"]
	path = zsh/.zsh/pack/bundle/start/fasd
	url = https://github.com/zimfw/fasd
[submodule "zsh/.zsh/pack/bundle/start/_zsh-autocomplete"]
	path = zsh/.zsh/pack/bundle/start/1_zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "nvim/.config/nvim/pack/bundle/start/autocomplete.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/autocomplete.nvim
	url = https://github.com/deathbeam/autocomplete.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/lspecho.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/lspecho.nvim
	url = https://github.com/deathbeam/lspecho.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/copilot.vim"]
	path = nvim/.config/nvim/pack/bundle/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "nvim/.config/nvim/pack/bundle/start/plenary.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/CopilotChat.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/CopilotChat.nvim
    url = https://github.com/CopilotC-Nvim/CopilotChat.nvim
    branch = canary
[submodule "nvim/.config/nvim/pack/bundle/start/oil.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/bigfile.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/bigfile.nvim
	url = https://github.com/LunarVim/bigfile.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/nvim-nio"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
