[submodule "bspwm/.config/dmenu/clipmenu"]
	path = bspwm/.config/dmenu/clipmenu
	url = https://github.com/cdown/clipmenu/
	branch = develop
[submodule "tmux/.tmux/bundle/tmux-yank"]
	path = tmux/.tmux/bundle/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/.tmux/bundle/tmux-sensible"]
	path = tmux/.tmux/bundle/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/bundle/tmux-copycat"]
	path = tmux/.tmux/bundle/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/.tmux/bundle/tmux-continuum"]
	path = tmux/.tmux/bundle/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/bundle/vim-tmux-navigator"]
	path = tmux/.tmux/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/.tmux/bundle/tmux-resurrect"]
	path = tmux/.tmux/bundle/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/bundle/tmux-open"]
	path = tmux/.tmux/bundle/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-rooter"]
	path = vim/.vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/.vim/bundle/vim-obsession"]
	path = vim/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/.vim/bundle/vim-gutentags"]
	path = vim/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/.vim/bundle/vim-javacomplete2"]
	path = vim/.vim/bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "vim/.vim/bundle/yang.vim"]
	path = vim/.vim/bundle/yang.vim
	url = https://github.com/nathanalderson/yang.vim
[submodule "vim/.vim/bundle/vim-test"]
	path = vim/.vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "vim/.vim/bundle/vim-dirvish"]
	path = vim/.vim/bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/.vim/bundle/vaxe"]
	path = vim/.vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule "vim/.vim/bundle/vim-logreview"]
	path = vim/.vim/bundle/vim-logreview
	url = https://github.com/andreshazard/vim-logreview
[submodule "vim/.vim/bundle/committia.vim"]
	path = vim/.vim/bundle/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/.vim/bundle/codi.vim"]
	path = vim/.vim/bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim
[submodule "zsh/.fzf"]
	path = zsh/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/.zim"]
	path = zsh/.zim
	url = https://github.com/Eriner/zim
[submodule "zsh/.zsh/bundle/base16-shell"]
	path = zsh/.zsh/bundle/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "zsh/.zsh/bundle/alias-tips"]
	path = zsh/.zsh/bundle/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "tmux/.tmux/bundle/tmux-sessionist"]
	path = tmux/.tmux/bundle/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "mutt/.mutt/bundle/mutt-colors-solarized"]
	path = mutt/.mutt/bundle/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "vim/.vim/bundle/tern_for_vim"]
	path = vim/.vim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
