/**
* @name Base16 Solarized Dark
* @description 
* @author thedeathbeam
* @authorId
* @version
* @source
* @updateUrl
**/

:root {
    --base00: #002B36; /* Black */
    --base01: #073642; /* Bright Black */
    --base02: #586E75; /* Grey */
    --base03: #657B83; /* Brighter Grey */
    --base04: #839496; /* Bright Grey */
    --base05: #93A1A1; /* White */
    --base06: #EEE8D5; /* Brighter White */
    --base07: #FDF6E3; /* Bright White */
    --base08: #DC322F; /* Red */
    --base09: #CB4B16; /* Orange */
    --base0A: #B58900; /* Yellow */
    --base0B: #859900; /* Green */
    --base0C: #2AA198; /* Cyan */
    --base0D: #268BD2; /* Blue */
    --base0E: #6C71C4; /* Purple */
    --base0F: #D33682; /* Magenta */

    --radius-xs: 0px;
    --radius-sm: var(--radius-xs);
    --radius-md: var(--radius-xs);
    --radius-lg: var(--radius-xs);
    --radius-xl: var(--radius-xs);
    --radius-xxl: var(--radius-xs);
    --font-primary: 'Terminus', normal;
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: var(--font-primary);
}

.theme-dark {
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --channeltextarea-background: var(--base01);
    --background-tertiary: var(--base00);
    --background-accent: var(--base0E);
    --background-floating: var(--base01);
    --background-modifier-selected: var(--base00);
    --text-normal: var(--base05);
    --text-secondary: var(--base00);
    --text-muted: var(--base02);
    --text-link: var(--base0C);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base0C);
    --interactive-active: var(--base0A);
    --interactive-muted: var(--base02);
    --header-primary: var(--base06);
    --header-secondary: var(--base03);
    --scrollbar-thin-track: transparent; 
    --scrollbar-auto-track: transparent; 
}