:root {
    --tridactyl-font-family: monospace;
    --tridactyl-font-family-sans: sans-serif;
    --tridactyl-font-size: 12pt;
    --tridactyl-small-font-size: calc(var(--tridactyl-font-size) * 0.75);

    --tridactyl-bg: #002b36;
    --tridactyl-fg: #839496;
    --tridactyl-logo: none;
    --tridactyl-scrollbar-color: #073642;

    --tridactyl-status-bg: #073642;
    --tridactyl-status-fg: #839496;
    --tridactyl-status-border: 1px #586e75 solid;

    --tridactyl-search-highlight-color: #b58900;

    --tridactyl-hintspan-bg: #b58900;
    --tridactyl-hintspan-fg: #002b36;
    --tridactyl-hintspan-border-color: #586e75;

    --tridactyl-hint-active-bg: #268bd2;
    --tridactyl-hint-active-fg: #002b36;
    --tridactyl-hint-active-outline: 1px solid #dc322f;

    --tridactyl-hint-bg: #073642;
    --tridactyl-hint-outline: 1px solid #b58900;

    --tridactyl-vs-bg: #002b36;
    --tridactyl-vs-fg: #839496;

    --tridactyl-cmdl-bg: #073642;
    --tridactyl-cmdl-fg: #839496;

    --tridactyl-cmplt-bg: #002b36;
    --tridactyl-cmplt-fg: #839496;
    --tridactyl-cmplt-border-top: 1px solid #586e75;

    --tridactyl-header-first-bg: #073642;
    --tridactyl-header-second-bg: #002b36;
    --tridactyl-header-third-bg: #073642;
    --tridactyl-header-font-weight: bold;
    --tridactyl-header-border-bottom: 1px solid #586e75;

    --tridactyl-url-fg: #268bd2;
    --tridactyl-url-bg: #002b36;

    --tridactyl-of-bg: #586e75;
    --tridactyl-of-fg: #839496;

    --tridactyl-highlight-box-bg: #073642;
    --tridactyl-highlight-box-fg: #839496;

    --tridactyl-externaledit-bg: none;
}
