@define-color color_bg #073642;
@define-color color_fg #93A1A1;
@define-color color_success #859900;
@define-color color_active #268BD2;
@define-color color_inactive #002B36;
@define-color color_urgent #CB4B16;
@define-color color_warning #B58900;

* {
  font-family: "Terminus", monospace;
  background: @color_bg;
  color: @color_fg;
  /* Add more styling as needed */
}
